@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto+Mono:ital,wght@1,200&family=Shizuru&display=swap');

:root{
    --dark: #22223b;
    --white: #edf2fb;
    --open: "Open Sans", sans-serif;
}

*{
    font-size: 10px;
}

body{
    background:#e0934a2d;
    margin: 0;
    font-family: var(--open);
}

header{
    width: 100%;
}

h1{
    color: black;
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Shizuru', cursive;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.figures{
    display: grid;
    gap: 32px;
    grid-template-columns: 1, 1fr;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-block-end: 100px;
}

.figures-item{
    align-items: center;
    display: inline-grid;
    background-color: white;
    border: 8px solid #c1d3fe;
    justify-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    border-radius: 20px;
}

.figures-item h2{
    font-size: 3rem;
    font-family: 'Shizuru', cursive;
}

.figures-item form{
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.figures-item form label{
    align-self: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.6rem;
}

.figures-item form input{
    padding: 4px 10px;
    font-size: 1.4rem;
    border-radius: 10px;
}

.figures-item form button{
    background-color: #c1d3fe;
    border: 2px solid #abc4ff;
    font-size: 1.6rem;
    padding: 5px 30px;
    border-radius: 2rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
}
h3{
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2em;
}

@media screen and (min-width: 660px){
    h1{
        font-size: 5rem; 
    }
    
    .figures{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
    }
}