/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto+Mono:ital,wght@1,200&display=swap');

body{
    background-color: rgb(206, 232, 241);
}

h4{
    text-align: center;
}

header h1{
    font-size: 30px;
    color: rgb(99, 98, 155);
    font-style: oblique;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h2{
    padding: 5px;
    font-size: 25px;
    font-weight: 1100;
    font-family: 'Shizuru', cursive;
}

.figures{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    background-color: rgb(211, 238, 247);
}

button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

label{
    font-family: 'Be Vietnam Pro', sans-serif; ;
    padding: 4px;
    display: flex;
    
}

input{
    width: 100px;
    height: 20px;
    border-radius: 20px;
}


.figures-item{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 2%;
}

.Ajustes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px){
    body{
        width: 100%;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .figures{
        display: flex;
        flex-direction: column;
        align-items:center ;
    }
    

    div.Ajustes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

}
